<!doctype html>
<html lang="fr">
  <body>
    <p>Bonjour {{ user.forname ?? user.name ?? '!' }},</p>
    <p>Vous avez demandé la réinitialisation de votre mot de passe.</p>
    <p>
      Lien valable jusqu’au {{ expiresAt|date('d/m/Y H:i') }} :
      <br>
      <a href="{{ resetUrl }}">{{ resetUrl }}</a>
    </p>
    <p>Si ce n'est pas le cas, veuillez ignorer ce mail.</p>
    <p>Cordialement l'équipe Cinéphoria.</p>
  </body>
</html>
