<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    failOnWarning="true"
    failOnRisky="true"
>
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Functional">
      <directory>tests/Functional</directory>
    </testsuite>
  </testsuites>

  <php>
    <!-- Force l'environnement test -->
    <server name="APP_ENV" value="test"/>
    <server name="APP_DEBUG" value="1"/>

    <!-- Indique le Kernel -->
    <server name="KERNEL_CLASS" value="App\Kernel"/>

    <!-- Requis par framework.yaml -->
    <server name="TRUSTED_HOSTS" value="^.*$"/>
    <server name="TRUSTED_PROXIES" value="127.0.0.1,REMOTE_ADDR"/>

    <!-- URL de la base de TEST (adapte si ton service s'appelle autrement) -->
    <server name="DATABASE_URL" value="postgresql://app:admin@database:5432/app_test?serverVersion=16&amp;charset=utf8"/>
  </php>
</phpunit>
