<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    failOnWarning="true"
    failOnRisky="true"
>
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Functional">
      <directory>tests/Functional</directory>
    </testsuite>
  </testsuites>

  <php>
    <!-- Forcer l'env test au runtime ($_SERVER), plus fiable avec PHPUnit 10/11 -->
    <server name="APP_ENV" value="test"/>
    <server name="APP_DEBUG" value="1"/>
    <server name="KERNEL_CLASS" value="App\Kernel"/>

    <!-- Vars lues par framework.yaml -->
    <server name="TRUSTED_HOSTS" value="^.*$"/>
    <server name="TRUSTED_PROXIES" value="127.0.0.1,REMOTE_ADDR"/>
  </php>
</phpunit>
