.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../images/lilo&stitch.jpg'); /* Remplace par ton image réelle */
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-overlay {
    background: linear-gradient(rgba(10, 6, 2, 0.4), transparent);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 283px;
}

.title-banner { 
    margin-top: 0;
    margin-bottom: 50px;
}

.banner-content {
    color: #0A0602;
}

.banner-content h1 {
    font-size: 100px;
    font-weight: bold;
    line-height: 1.2;
}

.banner-btn {
    position: relative;
    display: inline-block;
    background-color: #EE8B1B;
    color: #0A0602;
    padding: 10px 100px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    overflow: hidden;
    transition: color 0.3s ease;
    z-index: 1;
}

.banner-btn:hover {
    color: #EE8B1B;
}

.banner-btn svg {
    transition: stroke 0.3s ease;
}

.banner-btn:hover svg path {
    stroke: #EE8B1B;
}

.banner-btn::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0A0602;
    z-index: -1;
    transition: top 0.3s ease;
}

.banner-btn:hover::before {
    top: 0;
}

.new-release {
    background-color: #0A0602;
    padding: 150px 170px;
}

.section-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 56px;
    height: 3px;
    background-color: #EE8B1B;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
    grid-auto-rows: auto;
    gap: 30px;
    justify-content: center;
}

.movie-card {
    width: 266px;
    text-align: left;
    color: #EEE8E2;
    position: relative;
}

.movie-card .movie-image {
    position: relative;
    display: block;
}

.movie-card .movie-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%; /* prend pile la hauteur de l'image */
    background-color: rgba(238, 139, 27, 0.4); 
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    border-radius: 4px;
}

.movie-card:hover .movie-image::before {
    opacity: 1;
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
    position: relative;
    z-index: 0;
}

.movie-card p {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    position: relative;
    display: inline-block;
    z-index: 2;
}

/* Trait orange sous le titre */
.movie-card:hover p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 100%;
    background-color: #EE8B1B;
}

.badge {
    position: absolute;
    top: 15px;
    right: 0;
    background-color: #EE8B1B;
    color: #0A0602;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    z-index: 2;

    /* Dimensions fixes */
    width: 162px;
    height: 34px;

    /* Flexbox pour alignement parfait */
    display: flex;
    align-items: center;      /* Vertical centré */
    justify-content: center;  /* Horizontal centré */
    gap: 6px;                 /* Espace entre texte et icône */
    text-align: center;
}

.badge img,
.badge svg {
    width: 20px;
    height: 20px;
    box-shadow: none;
    flex-shrink: 0;
}
