{% if films is not empty %}
    {% for film in films %}
        <div class="movie-card">
            <img src="{{ asset('uploads/affiches/' ~ film.affiche) }}" alt="{{ film.titre }}">
            <p class="film-title">{{ film.titre }}</p>
            <p class="film-synopsis">
                {{ film.synopsis|length > 100 ? film.synopsis|slice(0, 100) ~ '...' : film.synopsis }}
            </p>
        </div>
    {% endfor %}
{% else %}
    <p class="no-films">Aucun film trouvé pour cette ville.</p>
{% endif %}
